@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  color: #0d1a3c;
  font-size: 1.2rem;
  font-family: neue-haas-grotesk-text, noto-sans-cjk-jp, sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: #EDEDE8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #d03c56;
  text-decoration: none;
}

/* トップページ以外で使用するメインレイアウト */
.main {
  position: relative;
  width: 720px;
  margin: 0 auto 0;
  padding: 112px 0;
}

@media (max-width: 1024px) {
  .main {
    max-width: 600px;
    position: relative;    
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Transition */
.page-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}